*{
	margin:0px;
    padding:0px;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 10px 10px 0px 10px;
    overflow: hidden;

}
html{
    font-size:2vh;
    font-family: 'Ubuntu', sans-serif;

}